# NetBeans specific #
server/nbproject/private/
client/nbproject/private/
server/build/
client/build/
server/nbbuild/
client/nbbuild/
server/dist/
client/dist/
client/nbdist/
server/nbdist/

server/nbproject/build-impl.xml
server/nbproject/genfiles.properties

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
